// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto");

// Variables
@import "variables";

// Bootstrap overrides
$theme-colors: (
    "primary": $orange,
);

// Bootstrap
@import "~bootstrap/scss/bootstrap";

.vector-bg {
    background-image: url("/images/background/blue-background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: inherit !important;
}

.navigation-bar {
    top: 0px;
    z-index: 99;
    width: 100%;
    position: sticky !important;
}

.content {
    min-height: 100vh;
}

footer {
    background: #f3f3f3;
    height: 60px;
}

.no-decor,
.no-decor:hover {
    color: inherit !important;
    text-decoration: none !important;
}

.sm-heading {
    font-size: 1.15rem;
}
