.vector-bg {
    background-image: url("/images/background/blue-background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-height: inherit !important;
}

.navigation-bar {
    top: 0px;
    z-index: 99;
    width: 100%;
    position: sticky !important;
}

.not-footer {
    min-height: calc(100vh - 120px);
}

footer {
    background: #f3f3f3;
    height: 60px;
}

.no-decor,
.no-decor:hover {
    color: inherit !important;
    text-decoration: none !important;
}

h1.sm {
    font-size: 1.15rem;
}
