body {
    /* Global Font */
    font-family: Roboto, sans-serif;
}

/* Bootstrap overrides */
.btn-primary {
    background: #f37027;
    border: 1px solid #f37027;
    /* width: 208px; */
    /* height: 49px; */
    /* border-radius: 5px; */
    /* font-style: normal; */
    /* font-weight: 500; */
    /* font-size: 18px; */
    /* line-height: 21px; */
}
.btn-primary:hover {
    background: #da6729;
    border: 1px solid #da6729;
}
/* ==================== */

.vector-bg {
    background-image: url("/images/background/blue-background.svg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
